name: Metrics

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:

      # Profile header
      - name: Profile header
        uses: lowlighter/metrics@v3.34
        with:
          filename: github-metrics.svg
          token: ${{ secrets.METRICS_TOKEN }}
          user: SebastianLopezO
          base: header
          config_timezone: America/Bogota

      # Isometric calendar
      - name: Isocalendar
        uses: lowlighter/metrics@v3.34
        with:
          filename: metrics.isocalendar.svg
          token: ${{ secrets.METRICS_TOKEN }}
          user: SebastianLopezO
          base: ""
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year

      # Commit history
      - name: Commit calendar
        uses: lowlighter/metrics@v3.34
        with:
          filename: metrics.calendar.svg
          token: ${{ secrets.METRICS_TOKEN }}
          user: SebastianLopezO
          base: ""
          plugin_calendar: yes
          plugin_calendar_limit: 0

      # Coding habits
      - name: Recent activity charts
        uses: lowlighter/metrics@v3.34
        with:
          filename: metrics.habits.charts.svg
          token: ${{ secrets.METRICS_TOKEN }}
          base: ""
          plugin_habits: yes
          plugin_habits_facts: no
          plugin_habits_charts: yes
          config_timezone: America/Bogota

      # Issues & PRs
      - name: Follow-up
        uses: lowlighter/metrics@v3.34
        with:
          filename: metrics.followup.svg
          token: ${{ secrets.METRICS_TOKEN }}
          user: SebastianLopezO
          base: ""
          plugin_followup: yes
          plugin_followup_indepth: yes

      # People
      - name: People
        uses: lowlighter/metrics@v3.34
        with:
          filename: metrics.people.svg
          token: ${{ secrets.METRICS_TOKEN }}
          user: SebastianLopezO
          base: ""
          plugin_people: yes
          plugin_people_types: followers, following
          plugin_people_limit: 24

      # Start List Languages
      - name: Featured star list languages
        uses: lowlighter/metrics@v3.34
        with:
          filename: metrics.starlists.languages.svg
          token: NOT_NEEDED
          base: ""
          plugin_starlists: yes
          plugin_starlists_languages: yes
          plugin_starlists_limit_languages: 8
          plugin_starlists_limit_repositories: 0
          plugin_starlists_only: Awesome

      # Icons Languages topics
      - name: Icons
        uses: lowlighter/metrics@v3.34
        with:
          filename: metrics.topics.icons.svg
          token: NOT_NEEDED
          base: ""
          plugin_topics: yes
          plugin_topics_limit: 0
          plugin_topics_mode: icons

      - name: Using classic charts
        uses: lowlighter/metrics@v3.34
        with:
          filename: metrics.stargazers.svg
          token: ${{ secrets.METRICS_TOKEN }}
          base: ""
          plugin_stargazers: yes

      # Most Lenguage used
      - name: Most used (with details)
        uses: lowlighter/metrics@v3.34
        with:
          filename: metrics.languages.details.svg
          token: ${{ secrets.METRICS_TOKEN }}
          base: ""
          plugin_languages: yes
          plugin_languages_ignored: >-
            html, css, tex, less, dockerfile, makefile, qmake, lex, cmake, shell,
            gnuplot
          plugin_languages_details: bytes-size, percentage
          plugin_languages_limit: 4

      - name: Labels
        uses: lowlighter/metrics@v3.34
        with:
          filename: metrics.topics.labels.svg
          token: NOT_NEEDED
          base: ""
          plugin_topics: yes
          plugin_topics_limit: 12
